<h1 class="title">Angular Parent Child Component Communication</h1>

<details>
	<summary>Using Output Event Emitter</summary>
	<main>
		<app-voting-ballot></app-voting-ballot>
	</main>
</details>
<details>
	<summary>Using template local variable on child element</summary>
	<main>
		<app-counter></app-counter>
	</main>
</details>
<details>
	<summary>Using View Child Decorator</summary>
	<main>
		<app-counter-vc></app-counter-vc>
	</main>
</details>
<details>
	<summary>Using Service via Observable Stream</summary>
	<main>
		<app-movie-answer-parent></app-movie-answer-parent>
	</main>
</details>